<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <!-- Add Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Add internet connectivity information permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- Register the custom RecipeProvider -->
        <provider
            android:name=".Data.RecipeProvider"
            android:authorities="com.example.android.BakingApp"
            android:exported="true" />

        <activity android:name=".DetailActivity" />
        <activity android:name=".RecipeStepsDetailActivity" />
        <activity android:name=".FullScreenActivity" />

        <receiver android:name=".BakingAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_provider_info" />
        </receiver>
    </application>

</manifest>